.newRows {background-color: #d8edff;}
.btnUpdate {display: none;}
thead tr {background-color: #eee;}
.fresh {background-color: #cffda2;}
.controllcoulm {min-width: 100px; width: 100px; background-color: #eee;}
.fresh .controllcoulm { background-color: #abfd5c; }